body{
font-family:Arial, Helvetica, sans-serif ;
background-color:lightblue ;
margin: 0%;
padding: 0% 20px;

}
h1, h2, p{
    color: rgb(234, 220, 245);
}
p{
    color: black;
    font-size:  18px; 
}
.heading_test {
    color: brown;
}